.settings
.wtpmodules
target
.project
.classpath
outdated-dependencies.txt
bin
*.iml
.idea/
_*.sh
*.local
*.localz
es.properties
es-local.properties
es.properties.backup
*.zip
*.versionsBackup
*.log
es-local.properties
*.db
mqjms.log*
maven-eclipse.xml
.externalToolBuilders
dep.txt
/docs/asciidoc/index.html
.mvn/maven.config
.flattened
