.settings
target
.project
.classpath
bin
*.iml
.idea
_*.sh
*.local
*.localz
es.properties
*.zip
*.versionsBackup
*.log

scratch-rune.xml
scratch-rune-2.xml
scratch.json
.mvn/maven.config
.flattened
*.mv.db
