.settings
.wtpmodules
target
.project
.classpath
outdated-dependencies.txt
bin
*.iml
.idea
_*.sh
*.local
*.localz
*.zip
*.versionsBackup
*.log
es-local.properties
*.db
mqjms.log*
maven-eclipse.xml
.externalToolBuilders
dep.txt
.mvn/maven.config
.flattened
